@charset "UTF-8";
*{
	margin:0; /*外边距*/
	padding:0; /*内边距*/
	text-decoration:none; /*删除链接的下划线*/
	list-style:none; /*删除列表的标记*/
	color: #999;
}

html,body{
	width:100%;
	height:100%;
}

body .wrapper{
	width:100%;
	background-color:#f8f8f8;
}

/*顶部导览条*/
.top-nav{
	height:22px; /*高度*/
	padding:15px 36px; /*上下内边距 左右内边距*/ 
	margin:0 auto; /*auto以使元素在其容器中水平居中,在指定宽度内分配空间*/
	width:1190px;
}
.top ul li{
	font-size:12px;
	line-height:40px; /*文本行之间的间距*/
}

/*顶部导览条左边*/
.top-nav .left-navigation{
	float:left; /*位置*/
}
.top-nav .left-navigation ul li{
	float:left;
	padding:0 3px;
}
.top-nav .left-navigation ul li a:hover{ /*hover:css选择器,当鼠标移到链接上时改变颜色*/
	color:black;
}
/*当前选中的城市*/
.top-nav .left-navigation .selected-city{
	padding-left:12px; /*左边间距,放图标*/
	position:relative; /*使得此元素相对正常位置偏移*/
	color:#666;
}
/*当前选中城市的图标*/

/*切换城市*/
.top-nav .left-navigation .change-city a{
	display:inline-block; /*行内块元素*/
	width:65px;
	height:14px;
	line-height:14px;
	border:1px solid black;
	border-radius:2px; /*添加圆角边框*/
	padding:2px 4px;
	color:#666;
}
/*登陆*/
.top-nav .left-navigation .sign-in a{
	color:blue;
	padding:2px;
}

/*顶部导览条右边*/
.top-nav .right-navigation{
	float:right;
}
.top-nav .right-navigation ul li{
	float:right;
	padding:0 3px;
}
.top-nav .right-navigation ul li a:hover{ /*hover:css选择器,当鼠标移到链接上时改变颜色*/
	color:black;
}

/*搜索框区域*/
.search{
	height:157px;
	/*background-color:#fff;*/
	margin: 0 auto;
	width:1190px;
	height:157px;
	position:relative;
	
}

/*搜索框*/
.search .search-module{
	height:95px;
	width:552px;
	position:absolute; /*相对于最近的定位祖先元素进行定位*/
	left:280px;
}
.search .search-box form{
	position:relative;
	border:2px solid;
	width:550px;
	height:40px;
	border-radius:4px;
	margin-top:30px;
}
.search .search-box form input{
	position:absolute;
	left:10px;
	top:10px;
	font-size:15px;
	width:432px;
	height:20px;
	border:none;
	outline:none;
}
.search .search-box form button{
	position:absolute;
	right:0;
	width:88px;
	height:41px;
	background-color:#13d1be;
	border:none;
	cursor:pointer;
}
.search .hot-words{
	position: absolute;
    bottom: 0; /*设置定位框的底部外边距边缘*/
}
.search .hot-words ul li{
	float:left ;
	font-size: 15px;
	margin-left:20px;
}
.search .hot-words ul li a:hover{
	color: #000000;
}
.search .link{
	position: absolute;
	bottom: 10px;
	left: 280px;
	width: 700px;
	height: 20px;
}
.search .link a{
	color: #222;
	font-size: 20px;
	font-weight: 700;
	margin-right: 30px;
}
.search .link a:hover{
	color: #0000ff;
}
/*主体部分*/
.screen{
	height: 425px;
	margin: 0 auto;
	width: 1190px;
	height: 100%;
}
.screen>div{
	float: left;
}
.screen .left-col{
	width: 235px;
	height: 495px;
	margin-top:-50px;
	background: linear-gradient(-180deg,rgba(2,181,157,.85) 2%,rgba(22,146,183,.85)100%);
}
.screen .left-col .header{
	height: 50px;
	line-height: 50px;
}
.screen .left-col .header span{
	font-size: 16px;
	font-weight: 400px;
	color: #fff;
	padding-left: 17px;
}
.screen .left-col .service-list ul{
	padding-top: 13px;
}
.screen .left-col .service-list ul li{
	position: relative;
	height: 26px;
	line-height: 25px;
}
.screen .left-col .service-list .text,
.screen .left-col .service-list .text a{
	color: #fff;
	font-size: 16px;
}
.screen .left-col .service-list li:hover{
	background-color: rgba(255,255,255,0.2);
}

/*主体右侧*/
.screen .right-col{
	float: right;
	width: 228px;
	height: 100%;
}
.screen .right-col .login-register{
	width: 14.125rem;
	height: 13rem;
	margin: 10px 0;
	text-align: center;
	padding-top: 30px;
	border: 1px solid #ddd;
	background-color: #fff;
}
.screen .right-col .login-register .hi{
	display: inline-block;
	font-size: 27px;
	color: #000;
	margin-top: 10px;
}
.screen .right-col .login-register .register,
.screen .right-col .login-register .loginn{
	display: inline-block;
	font-size: 16px;
	font-weight: 400;
	color: #000000;
	width: 135px;
	height: 38px;
	line-height: 38px;
	margin-top: 8px;
	margin-bottom: 5px;
	border: 1px solid #ddd;
	border-radius: 10px;
}
.screen .right-col .code{
	text-align: center;
	width: 226px;
	height: 189px;
	padding-top: 10px;
	background-color: #fff;
	border: 1px solid #ddd;
}
.screen .right-col .code img{
	display: inline-block;
	width: 125px;
	height: 125px;
}
.screen .right-col .code .text1{
	display: inline-block;
	font-size: 25px;
	color: #000;
}
.screen .right-col .code .text2{
	display: inline-block;
	font-size: 20px;
	font-weight: 400;
	color: red;
}
.screen .right-col .code .text3{
	display: inline-block;
	font-size: 18px;
	font-weight: 400;
	color: #000;
}
